html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Museo Sans", "Lucida Grande", Arial, sans-serif;
  background-color: #F6F7F8;
}

/* Partie qui concerne seuelement la bar de navigation*/

header {
  display: flex;
  float: none;
  width: 100%;
  right: auto;
  background-color: #0E91A1;
}

a {
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
}

a.neutre {
  color: #333333;
  text-decoration: underline;
}

li {
  list-style: none;
}

header img {
  margin: 0em 2em;
  height: 60px;
}

.centre-menu {
  align-content: center;
}

.menu-grand {
  display: flex;
  margin: 0px;
  padding: 0px;
}

footer {
  margin: 2em auto 0;
  width: 100%;
  color: gray;
  text-align: right;
}

/* entête de la page */

div#entete {
  background-color: #146c78;
  align-content: center;
}

#sous-titre {
  background-color: #115F69;
  color: #fff;
  text-align: center;
  margin-top: -1px;
  padding: 18px;
}

/* corps de la page */

.conteneur {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.case {
  display: block;
  float: left;
  min-height: 1px;
  margin: 0 10px;
  width: 364px;
}

/* Contenue d'une case */

.sousCase {
  position: relative;
  height: 230px;
  background-color: #fff;
  margin: 80px 30px 0;
  border: 1px solid #eee;
}

.cercle {
  position: absolute;
  display: flex;
  text-align: center;
  background-color: #f1693c;
  width: 6em;
  height: 6em;
  border-radius: 50px;
  border: 4px solid #eee;
  left: 34%;
  top: -20%;
}

.titreCase {
  font-size: 3em;
  margin: auto;
  color: #ffffff;
}

.metier, .titreCase.poster {
  font-size: 1.75em;
}

.ecritureCase {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 30%;
  text-align: center;
}

.boutonPageAcceuil {
  background-color: #f1693c;
  border-radius: 20px;
  margin-top: 1em;
  padding: 0.50em;
  text-align: center;
  color: #ffff;
  font-size: larger;
}

a:hover {
  background-color: #C94727;
}

a.neutre:hover {
  background-color: inherit;
  color: #000000;
}

.cercle.poster {
  background-color: #DD5832;
  border-color: #DD5832;
}

.titreCase.poster {
  color: #ffffff;
}

.boutonPageAcceuil.poster {
  background-color: #ffffff;
  color: #0E91A1;
}

.sousCase.poster {
  background-color: #f1693c;
  color: #ffffff
}

.gras {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  /* Partie qui concerne seuelement la bar de navigation*/
  nav.grand {
    display: flex;
    margin: 0 auto 0 auto;
  }
  nav.petit {
    display: none;
  }
  header a {
    padding: 8px 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
  }
  header li {
    margin: auto 4px;
  }
  header a:hover {
    background-color: #146c78;
  }
  .conteneur {
    width: 768px;
  }
}

@media screen and (min-width: 1452px) {
  .conteneur {
    width: 1182px;
  }
}

@media screen and (max-width: 767px) {
  /* Partie qui concerne seulement la bar de navigation*/
  nav.grand {
    display: none;
  }
  .menu-petit {
    position: relative;
    margin: 1vh 10vw;
  }
  .petit>ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  ul.deroulant {
    display: none;
    top: 100%;
    left: -50px;
    z-index: 1000;
    padding: 0;
    margin: 0 0 12px 25px;
  }
  .menu-petit:hover ul.deroulant {
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 0px;
  }
  /* Partie correspondante aux formes géométriques pour le menu en petit écran*/
  .carre {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 10vw;
  }
  .rectangle {
    position: absolute;
    margin: 1vw;
    width: 8vw;
    height: 1vw;
    background: #F6F7F8;
    border-radius: 5px;
  }
  div.rectangle:nth-of-type(3n) {
    margin-top: 2vw;
  }
  div.rectangle:nth-of-type(3n+1) {
    margin-top: 4.5vw;
  }
  div.rectangle:nth-of-type(3n+2) {
    margin-top: 7vw;
  }
  header a {
    display: block;
    color: #0E91A1;
    padding: 5px 20px;
  }
  header a:hover {
    background-color: #E5E5E5;
  }
  /* Partie correspondante aux changement sur le corps de la page */
  .case {
    margin: 0;
  }
  .conteneur {
    width: 384px;
  }
}