body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Museo Sans", "Lucida Grande", Arial, sans-serif;
  background-color: #F6F7F8;
}

/* Partie qui concerne seuelement la bar de navigation*/

header {
  display: flex;
  float: none;
  width: 100%;
  right: auto;
  background-color: #0E91A1;
}

a {
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
}

li.active>a {
  background: #146c78;
}

li {
  list-style: none;
}

header img {
  margin: 0em 2em;
  height: 60px;
}

.centre-menu {
  align-content: center;
}

.menu-grand {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.conteneur {
  display: block;
  margin: 30px auto 0 auto;
}

article {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 2em;
  margin-left: 13em;
  margin-bottom: 3em;
}

.titre {
  display: inline-block;
  color: #ffffff;
  padding: 2px 10px;
  font-weight: bold;
  font-size: large;
}

h1 {
  background-color: rgb(252, 129, 58);
}

h2 {
  background-color: #ffce51;
  font-size: 1.2em;
}

#navigation ul {
  list-style: none;
  padding: 0;
}

#navigation li {
  margin: 2px 0 0 0;
}

#navigation a {
  display: block;
  padding: 0.5em;
  border-radius: 5px;
}

#navigation a {
  color: #0E91A1;
}

#navigation {
  width: 10em;
  position: fixed;
  top: 75px;
}

#navigation a:hover {
  background-color: #E5E5E5;
  color: #146c78;
}

#navigation li li {
  padding-left: 1em;
}

#InterviewListe {
  padding: 0;
}
.question {
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0;
}
.reponse {
  margin-bottom: 1em;
  padding-left: 0.5em;
}

article img {
  width: 100%;
}

#conclusion {
  margin-top: 2em;
}

.auteurs {
  display: block;
  text-align: right;
  color: #000000;
  font-weight: bold;
}

footer {
  margin: 2em auto 0;
  width: 100%;
  color: gray;
  text-align: right;
}

@media screen and (min-width: 768px) {
  /* Partie qui concerne seuelement la bar de navigation*/
  nav.grand {
    display: flex;
    margin: 0 auto 0 auto;
  }
  nav.petit {
    display: none;
  }
  header a {
    padding: 8px 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
  }
  header li {
    margin: auto 4px;
  }
  header a:hover {
    background-color: #146c78;
  }
  .conteneur {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .conteneur {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  /* Partie qui concerne seuelement la bar de navigation*/
  nav.grand {
    display: none;
  }
  .menu-petit {
    position: relative;
    margin: 1vh 10vw;
  }
  .petit>ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  ul.deroulant {
    display: none;
    top: 100%;
    left: -50px;
    z-index: 1000;
    padding: 0;
    margin: 0 0 12px 25px;
  }
  .menu-petit:hover ul.deroulant {
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 0px;
  }
  /* Partie correspondant aux formes géométriques pour le menu en petit écran*/
  .carre {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 10vw;
  }
  .rectangle {
    position: absolute;
    margin: 1vw;
    width: 8vw;
    height: 1vw;
    background: #F6F7F8;
    border-radius: 5px;
  }
  div.rectangle:nth-of-type(3n) {
    margin-top: 2vw;
  }
  div.rectangle:nth-of-type(3n+1) {
    margin-top: 4.5vw;
  }
  div.rectangle:nth-of-type(3n+2) {
    margin-top: 7vw;
  }
  header a {
    display: block;
    color: #0E91A1;
    padding: 5px 20px;
  }
  header a:hover {
    background-color: #E5E5E5;
  }
  .conteneur {
    width: 100%;
  }
  #navigation {
    display: none;
  }
  article {
    width: 100%;
    margin: 0;
  }
}